@import './styles/home.scss';
@import './styles/login.scss';
@import './styles/nav.scss';
@import './styles/editor.scss';
@import './styles/slide.scss';

.app-container {
  min-width: 1000px;
}

.margin-top-sm {
  margin-top: 10px;
}
.margin-top-xlg {
  margin-top: 48px;
}
.margin-left-sm {
  margin-left: 10px;
}
