@import './styles/home.scss';
@import './styles/profile.scss';
@import './styles/login.scss';
@import './styles/nav.scss';
@import './styles/editor.scss';
@import './styles/slide.scss';
@import './styles/viewer.scss';

.app-container {
  min-width: 1000px;
}
.margin-tobbottom-sm {
  margin: 10px 0px;
}
.margin-top-sm {
  margin-top: 10px;
}
.margin-top-xlg {
  margin-top: 48px;
}
.margin-left-sm {
  margin-left: 10px;
}
.margin-right-sm {
  margin-right: 10px;
}
:focus {
  outline: none;
}
