.editor-main-container {
  background-color: rgb(226, 226, 226);
}

.mdn-results {
  background-color: rgba(9, 78, 188, 0.5);
  border: 1px solid rgba(9, 58, 138, 1);
}

.sidebar-while {
  width: 200px;
}

.sidebar-btn {
  width: 190px;
}