.nav-container {
  background-color: rgb(68, 68, 68);
}

.nav-container:hover {
  background-color: rgb(68, 68, 68);
}

.logo-text {
  font-family: 'Audiowide', cursive;
  font-size: 26px;
  font-style: bold;
  color: white;
}

.logo-container:hover {
  background-color: rgb(98, 98, 98)
}

.nav-text-item {
  font-size: 16px;
  color: rgb(188, 188, 188);
}
