.nav-container {
  background-color: rgb(255, 255, 255);
}

.nav-container:hover {
  background-color: rgb(68, 68, 68);
}

.logo-text {
  font-family: 'Audiowide', cursive;
  font-size: 26px;
  font-style: bold;
  color: #1BCFD1;
}

.logo-container:hover {
  background-color: rgb(98, 98, 98) !important;
}

.nav-profile {
  color: white !important;
}
.nav-button {
  
}
.nav-profile:hover {
  color: white !important;
  background-color: rgb(98, 98, 98) !important;
}