.center-text {
  text-align: center;
}

.create-btn {
  margin-top: 40px;
  margin-bottom: 30px;
}

.profile-btn {
  width: 100px;
  height: 40px;
  background-color: rgba(108, 108, 108, 0.3);
  margin: 0px 3px;
}

.profile-icon {
  margin-left: 15px;
}

.pres-list-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-item-container {
  width: 90%;
  margin-left: 5%;
  /*border: 1px solid black; */
  border-radius: 1%;
  /*box-shadow: 4px 4px 4px 2px rgba(0, 0, 0, 0.2);*/
  margin-bottom: 10px;
  padding-left: 10%;
  /*background-color: rgba(108, 108, 108, 0.3);*/
}

.seperator {
  border-top: 2px solid black;
  height: 1px;
  margin-bottom: 0px;
}

.pres-name {
  margin-top: 10px;
  margin-left: 5%;
  font-size: 24px;
  color: black;
}
