//----------------------
// ------ Slide Canvas ------
//----------------------
.slide-and-chat {
  padding: 0px;
}

.prev-slide-btn 

//----------------------
// ------ Quizes ------
//----------------------
.quiz-view-question {
  text-align: center;
  margin-top: 20px;
}

.quiz-view-answers {
  text-align: center;
}

.quiz-view-submit {
  margin-top: 30px;
}
