.viewer-main-container {
  /*background-color: rgb(108, 108, 108);*/
  background: linear-gradient(#1BCFD1,white);
  height: 100vh;
  min-height: 1000px
}

//----------------------
// ---- Slide Canvas ---
//----------------------
.slide-canvas-container {
  position: relative;
  border: 1px solid black;
  margin-left: 12px
}

.slide-and-chat {
  padding: 0px;
}

.circle-btn {
  background: none;
  border: none;
}

.prev-btn-container {
  position: absolute;
  top: 45%;
  left: 5%;
}

.next-btn-container {
 position: absolute;
 top: 45%;
 left: 90%;
}

//----------------------
// ------ Quizes ------
//----------------------
.quiz-view-question {
  text-align: center;
  margin-top: 20px;
}

.quiz-view-answer {
  text-align: center;
  font-size: 20px !important;
}

.quiz-view-submit {
  position: absolute;
  bottom: 60px;
}

//----------------------
// ------- Chat -------
//----------------------
.chat-super-container {
  height: 540px;
  margin-left: 0px;
  margin-right: 24px;
  padding-right: 10px;
  /*background-color: rgb(174, 171, 171);*/
}

.chat-container {
  display: flex;
  flex-direction: column;
}

.nickname {
  padding: 2px;
  width: 50%;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.chat-form {
  flex: 1 0 auto;
}

.chat-title, .notes-title, .graph-title, .slide-title, .controls-title {
  margin-bottom: 0px;
  margin-top: 6px;
  text-align: center;
  color: white;
  background-color: #626262; /* #3273dc;*/
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.slide-title {
  margin-left: 12px;
}

#chat-log {
  height: 380px;
  max-height: 380px;
  overflow: auto;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 6px;
  padding: 12px;
}

.chat-message, .chat-message-nick, .chat-message-body {
  color: black;
  padding-top: 0px;
  padding-bottom: 0px;
}

.chat-input {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

//----------------------
//-------- Notes -------
//----------------------
.notes {
  position: relative;
  padding: 12px 12px 0px 0px;
}

.notes-area {
  width: 900px;
  padding: 25px;
  border: none;
  font-size: 18px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  height: 224px;
  border: 1px solid black;
}
.notes-title, .controls-title {
  max-width: 900px;
}

.controls-title {
  margin-left: 12px;
  margin-top: -12px;
}

//----------------------
//- Scratchpad & Graph -
//----------------------
.scratchpad-and-graph {
  margin-top: -30px;
  padding-top: 0px;
  padding-bottom: 5px !important;
}

.graph {
  padding: 12px 0px;
  max-width: 800px;
}

.graph-container {
  background-color: white;
  width: 100%;
  height: 224px;
  border: 1px solid black;
}

.VR-slide-positon {
  margin-top: 20%;
  text-align: center;
  align-items: center;
}

.disable-notes {
  margin-left: 5%
}

//------------------------
// - Presenter Controls --
//------------------------
.presenter-controls {
  margin-left: 12px;
  padding-top: 10px;
  width: 900px;
  height: 55px;
  background-color: white;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
}

.control-btn {
  margin-left: 15px;
  margin-right: 15px;
}
